<div layout="column" ng-controller="ImageAreaCtrl">
    <div>
        <div layout="row" layout-align="center end">
            <img class="car-contact" src="{{imageUrl}}">
        </div>

        <div layout="row" layout-align="center">
            <h3 class=".md-title">{{global.params.selectedModelVariantObj.name}}</h3>
        </div>

        <div layout="row" layout-align="center">
            <label>{{'IMAGEAREA_FROM'|translate}}&nbsp;{{global.params.selectedModelVariantObj.versionList[0].price | currency : "" : 0}} {{'IMAGEAREA_FRANCS' | translate}}</label>
        </div>

        <div layout="row" layout-align="center">
            <md-button class="md-primary" href="#/variantList/{{global.params.selectedBrand}}/{{global.params.selectedModel}}/{{global.params.selectedModelVariant}}" aria-label="models">
                <span translate="CONTACT_MODELS"></span>
            </md-button>
        </div>
    </div>
</div>