<div layout="column" ng-controller="ImageAreaCtrl">
    <div>
        <div layout="row" layout-align="center end">
            <img class="car-contact" src="{{carsApi+global.params.selectedVariant.picturePaths[0]}}">
        </div>

        <div layout="row" layout-align="center">
            <h3 class=".md-title">{{global.params.selectedVariant.name}}</h3>
        </div>

        <div layout="row" layout-align="center">
            <label>Erhältlich ab {{global.params.selectedVariant.versionList[0].price | currency : "" : 0}} CHF</label>
        </div>

        <div layout="row" layout-align="center">
            <md-button class="md-primary" ng-click="route()" target="_blank" aria-label="models">
                <span translate="CONTACT_MODELS"></span>
            </md-button>
        </div>
    </div>
</div>