<div layout="column" ng-controller="ImageAreaCtrl">
    <div>
        <div layout="row" layout-align="center end">
            <img class="car-contact" src="assets/style/img/vw-passat.jpg">
        </div>

        <div layout="row" layout-align="center">
            <h3 class=".md-title">Golf</h3>
        </div>

        <div layout="row" layout-align="center">
            <label>Erhältlich ab 30'000 CHF</label>
        </div>

        <div layout="row" layout-align="center">
            <md-button class="md-primary" ng-click="route()" target="_blank" aria-label="modells">
                <span translate="CONTACT_MODELS"></span>
            </md-button>
        </div>
    </div>
</div>