<div ng-controller="LandingPageFormCtrl">
    <div layout="row" layout-align="center" layout-wrap>
        <md-button href="#/leasingCalculator/{{global.params.selectedBrand}}/{{global.params.selectedModel}}" flex="100" class="md-raised" translate="LANDINGPAGE_LEASING" aria-label="button"></md-button>
    </div>
    <div layout="row" layout-align="center" layout-wrap>
        <md-button href="#/mainFormular/{{global.params.selectedBrand}}/{{global.params.selectedModel}}/testdrive" flex="100" class="md-raised" translate="LANDINGPAGE_TESTDRIVE" aria-label="button"></md-button>
    </div>
    <div layout="row" layout-align="center" layout-wrap>
        <md-button href="#/mainFormular/{{global.params.selectedBrand}}/{{global.params.selectedModel}}/catalog" flex="100" class="md-raised" translate="LANDINGPAGE_CATALOG" aria-label="button"></md-button>
    </div>
    <br />
    <div layout="row" layout-align="center">
        <md-button href="#/modelList/{{global.params.selectedBrand}}" flex="100" class="md-raised" translate="LANDINGPAGE_BACK_TO_MODELLIST" aria-label="button"></md-button>
    </div>
</div>