<div>
    <div layout="row" layout-align="center" layout-wrap>
        <md-button ui-sref="leasingCalculator" flex="100" class="md-raised" translate="LANDINGPAGE_LEASING" aria-label="button"></md-button>
    </div>
    <div layout="row" layout-align="center" layout-wrap>
        <md-button ui-sref="testdrive" flex="100" class="md-raised" translate="LANDINGPAGE_TESTDRIVE" aria-label="button"></md-button>
    </div>
    <div layout="row" layout-align="center" layout-wrap>
        <md-button ui-sref="catalog" flex="100" class="md-raised" translate="LANDINGPAGE_CATALOG" aria-label="button"></md-button>
    </div>
    <br />
    <div layout="row" layout-align="center">
        <md-button ui-sref="modelList" flex="100" class="md-raised" translate="LANDINGPAGE_BACK_TO_MODELLIST" aria-label="button"></md-button>
    </div>
</div>