<h3>Wählen Sie die gewünschte Variante aus:</h3>
<div layout="column" ng-controller="VariantListCtrl">
    <div>
        <md-list-item class="md-3-line" ng-repeat="variant in global.params.variantList" ng-click="route(variant.id)">
            <div class="md-list-item-text">
                <span style="font-weight: bold; font-size: 18px;">{{variant.name}}</span>
            </div>
            <md-icon md-svg-src="/assets/style/svg/arrow_forward.svg" aria-label="android "></md-icon>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </div>
</div>