<div layout="column" ng-controller="LeasingCalculatorFormCtrl">
    <div>
        <div layout="row">
            <span translate="LEASINGCALC_PAYMENT"></span>
            <span aria-label="red" aria-controls="red-slider">&nbsp; {{data.payment}} {{'LEASINGCALC_PAYMENT_FRANCS'|translate}}</span>
        </div>
        <div layout="row">
            <md-slider style="padding-left:15px;" flex="95" step="100" min="0" max="25500" ng-model="data.payment"
                       aria-label="blue" class="md-primary">
            </md-slider>
        </div>

        <div layout="row">
            <span translate="LEASINGCALC_DURATION"></span>
            <span aria-label="red" aria-controls="red-slider">&nbsp; {{data.duration}} {{'LEASINGCALC_DURATION_MONTH'|translate}}</span>
        </div>
        <div layout="row">
            <md-slider style="padding-left:15px;" flex="95" step="12" min="12" max="60" ng-model="data.duration"
                       aria-label="blue" class="md-primary">
            </md-slider>
        </div>

        <div layout="row">
            <span translate="LEASINGCALC_MILAGE"></span>
            <span aria-label="red" aria-controls="red-slider">&nbsp; {{data.milage}} {{'LEASINGCALC_MILAGE_KILOMETER'|translate}}</span>
        </div>
        <div layout="row">
            <md-slider style="padding-left:15px;" flex="95" step="5000" min="10000" max="50000" ng-model="data.milage"
                       aria-label="blue" class="md-primary">
            </md-slider>
        </div>

        <fieldset class="standard contact-fieldset">
            <legend translate="LEASINGCALC_OFFER"></legend>
            <md-checkbox id="checkbox-discount" ng-model="data.discount" aria-label="checkbox"
                         class="md-primary checkbox-inline">
                <span translate="LEASINGCALC_OFFER_TEXT" translate-values="{value: {{data.discountRate}}}"></span>
            </md-checkbox>
        </fieldset>

        <br/>

        <div layout="row">
            <div flex="50">
                <span><b>{{'LEASINGCALC_INTERESTRATE'|translate}}</b></span><br />
                <span>{{'LEASINGCALC_INTERESTRATE_NOMINAL'|translate}}&nbsp;{{data.interestRateDefault}}%</span><br />
                <span>{{'LEASINGCALC_INTERESTRATE_EFFEKTIVE'|translate}}&nbsp;{{data.interestRateEffektive}}%</span>
            </div>
            <div flex="50">
                <span style="font-weight: bold" translate="LEASINGCALC_MOTHLY_PAYMENT"></span><br>
                <span style="font-weight: bold; font-size: 25px; color:green" >{{'LEASINGCALC_CHF' | translate}}&nbsp;{{result}}</span>
            </div>
        </div>

        <br/>

        <div layout="row">
            <md-button type="button" ng-click="calculate()" class="md-raised md-primary" flex="100"
                       translate="LEASINGCALC_CALCULATE"
                       aria-label="Calculate"></md-button>
        </div>
        <div layout="row">
            <md-button type="button" href="#/landingPage/{{global.params.selectedBrand}}/{{global.params.selectedModel}}/{{global.params.selectedModelVariant}}" class="md-raised" flex="50"
                       translate="LEASINGCALC_BUTTON_BACK"
                       aria-label="Back"></md-button>
            <md-button type="button" href="#/mainFormular/{{global.params.selectedBrand}}/{{global.params.selectedModel}}/{{global.params.selectedModelVariant}}/leasing" class="md-raised" flex="50" translate="LEASINGCALC_CONTACT"
                       aria-label="Next"></md-button>
        </div>
    </div>
</div>