<div>
    <form name="userForm">
        <div layout-gt-xs="row">
            <md-input-container flex-gt-xs>
                <label translate="CONTACT_LABEL_FIRSTNAME">First name</label>
                <input ng-model="data.firstName">
            </md-input-container>
            <md-input-container flex-gt-xs>
                <label translate="CONTACT_LABEL_LASTNAME">Last Name</label>
                <input ng-model="data.lastName">
            </md-input-container>
        </div>
    </form>
</div>